body{
    background-color: darkgrey;
}
html{
    padding: 0px;
    margin: 0px;
}
.header {
    text-align: center;
    margin: 0 auto;
    background-color: black;
    color: red;
    font-family: 'Anton', sans-serif;
    font-size: 25px;
    line-height: 2.5;
}

.title {
    text-align: center;
}

.body {
    text-align: center;
}



.ruta {
    margin: 0 auto;
}

#left {
    z-index: 100;
    top: 225px;
    left: 0px;
    width: 50px;
    height: 50px;
    position: absolute;
    transform: rotate(180deg);
    cursor: pointer;
    background: white;
}

#right {
    z-index: 100;
    top: 225px;
    right: 0px;
    width: 50px;
    height: 50px;
    position: absolute;
    transform: rotate(0deg);
    cursor: pointer;
    background: white;
}
#up {
    z-index: 100;
    top:0;
    left:150px;
    width: 50px;
    height: 50px;
    position: absolute;
    transform: rotate(270deg);
    cursor: pointer;
    background: white;
}

#down {
    z-index: 100;
    bottom:0px;
    left:150px;
    width: 50px;
    height: 50px;
    position: absolute;
    transform: rotate(90deg);
    cursor: pointer;
    background: white;
}
#candle {
    width: 80px;
    height: 150px;
    
}

#cat {
    z-index: 2;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50px;
    bottom: 10px;
}

#zombies {
    z-index: 3;
    position: absolute;
    bottom: 0px;
    left: 50px;
    width: 250px;
    height: 250px;
}
#spelplan{
    width:350px; 
    height:500px; 
    border: 5px solid black;
    position: relative;
}
.background-image{
    height: 500px;
    width:350px;
    z-index: 1;
}